.page-header-text {
    color: lightgray;
}
.page-header-text:hover {
    text-decoration: none;
}
.m-header__bottom {
    height: auto !important;
}
body {
    background-image: url(../../../assets/app/media/img/bg/bg-7.jpg)
}

#app {
    height: 100%;
    display: flex;
}